.main-nav {
  list-style: none;
  display: flex;
  width: 200px;
  justify-content: space-between;
  font-size: 26px;
  padding: 50px;
}
.main-nav li {
  padding: 0;
  text-decoration: none;
  color: black;
}
.About,
.Search,
.track-detail {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.about-text {
  width: 500px;
  font-size: 22px;
}
input {
  width: 680px;
  height: 30px;
  margin-right: 10px;
}
input::placeholder {
  font-size: 24px;
  padding: 5px;
}
input[type="text"] {
  font-size: 25px;
}
.button-search {
  border: none;
  background: none;
  background-image: url("../img/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.style-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: darkcyan;
  font-size: 14px;
  display: flex;
}
.style-list li {
  margin-right: 5px;
}
.track-list {
  list-style: decimal-leading-zero;
  font-size: 24px;
}
.tracks-wrapper-ext {
  display: flex;
  align-items: center;
}

.tracks-wrapper-ext p {
  margin: 0;
}
.tracks-wrapper-ext {
  margin-left: -40px;
}
p.tracks-title,
.tracks-wrapper span,
.tracks-wrapper-ext span {
  margin-right: 20px;
}
form {
  display: flex;
  align-content: baseline;
}
.search-item {
  font-size: 20px;
  line-height: 26px;
}
.back-button {
  width: 50px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid #2c0e22;
  font-size: 16px;
  font-weight: solid;
}
.main-genre {
  color: blueviolet;
  padding-right: 10px;
}
/* to be done */
.favorites {
  display: none;
}
.year {
  font-weight: bold;
}
.country {
  font-style: italic;
}
.button-back {
  background: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.search-links {
  text-decoration: none;
}
.search-links:visited {
  color: #6e747a;
}
.description {
  display: flex;
  align-items: baseline;
}
.wrapper {
  display: flex;
}

.main-block {
  width: 70%;
}
.second-block {
  width: 30%;
  padding-top: 140px;
}
.btn-favorites {
  font-size: 34px;
  margin-top: -10px;
  cursor: pointer;
  display: none;
}
.title-wrapper {
  display: flex;
  align-items: center;
}
.title-wrapper h1 {
  margin-right: 20px;
}
.notes {
  margin-bottom: 30px;
}
.video-wrapper {
  width: 100%;
  max-height: 510px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videos {
  width: 60%;
  height: 100%;
}
iframe {
  width: 60%;
  border: none;
  margin-bottom: 20px;
}
@media screen and (max-width: 780px) {
  .wrapper {
    flex-direction: column;
  }
  .second-block {
    padding-top: 0;
  }
}
